html,
body {
    background-color:teal;
    color: red;
    margin: 0;
    padding: 0;
}

.main {
    color: black;
    height: 617px;
    text-align: center;
    border: 10px solid;
    border-color: black;
}

canvas {
    background-color: blue;
    float: left;
    clear: both;
    border: 10px solid;
    border-color: black;
    width: 40%;
    height: 40%;
}

hr {
    color: black;
    width: 50%;
    border: 3px solid;
}
h1{
    font-size: 40px;
}

ul{
    display: inline-block;
    text-align: left;
    font-size: 30px;
}